.flex-item {
  /* background-color: tomato; */
  padding: 5px;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  margin: 5px;
  
  line-height: 50px;
  color: var(--ion-color-dark);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
    /* border: 1px solid;
    border-color: var(--ion-color-dark); */

}
.flex-container {
    padding: 0;
    margin: 0;
    /* list-style: none; */
    /* border: 1px solid;
    border-color: var(--ion-color-dark); */
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
.choice {
    border: 1px solid;
    /* height: 100px;
    width: 100px;
    max-width: 100px; */
    height: 50px;
    width: 50px;
    font-size: 28pt;
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    flex-wrap: wrap;
}
.boxed {
    border: 1px solid;
    /* height: 100px;
    width: 100px;
    max-width: 100px; */


    /* min-height: 50px;
    min-width: 50px; */
    padding: 5px;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    margin: 5px;
    
    /* line-height: 50px; */
  
    background-color: var(--ion-color-dark);
    color: var(--ion-color-light);
    
    font-size: 28pt;
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */

}
.centeredDiv {
    display: flex;
    justify-content: center; /* Horizontal center alignment */
}
.selected {
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary-contrast) !important;
}
.grid_size_selector {
    color: var(--ion-color-primary);
    font-weight: bold;
    --placeholder-opacity: 1.0 !important;
}
/* .choiceUnselected {
    background-color: lightgray;
}
.choiceSelected {
    background-color: lightgray;
    border: 3px solid;
} */