/* :root {
    
    --xpadding: 5px;
    --xmargin: 5px;
    --xsize: 35px;
    --xfont: 20pt;    

    --xpadding3: 5px;
    --xmargin3: 5px;
    --xsize3: 50px;
    --xfont3: 28pt;      

} */
.explode {
    width:200vw;
    animation:letter_explode 1s 0.1s /* forwards */;
}
@keyframes letter_explode {
    0% {letter-spacing:0.1em;opacity:1;}
    100% {letter-spacing:1em;opacity:0;}
}
.gridsize3 {
    --xpadding: 5px;
    --xmargin: 5px;
    --xsize: 60px;
    --xfont: 29pt;      
}
.gridsize4 {
    --xpadding: 5px;
    --xmargin: 5px;
    --xsize: 50px;
    --xfont: 26pt;      
}
.gridsize5 {
    --xpadding: 5px;
    --xmargin: 5px;
    --xsize: 42px;
    --xfont: 23pt;      
}
.gridsize6 {
    --xpadding: 5px;
    --xmargin: 5px;
    --xsize: 35px;
    --xfont: 20pt;    
}
.bomb3 {
    position: absolute;
    bottom: 0%;
    right: 8%;
    font-size: 16pt;     
}
.bomb4 {
    position: absolute;
    bottom: 0%;
    right: 2%;
    font-size: 11pt;     
}
.bomb5 {
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 10pt;     
}
.bomb6 {
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 8pt;     
}
.west {
    transform: rotate(0deg);    
}
.south {
    transform: rotate(90deg);    
}
.east {
    transform: rotate(180deg);    
}
.north {
    transform: rotate(270deg);    
}
.southwest {
    transform: rotate(45deg);    
}
.southeast {
    transform: rotate(135deg);    
}
.northeast {
    transform: rotate(315deg);    
}
.northwest {
    transform: rotate(225deg);    
}

.flex-item {
  /* background-color: tomato; */
  padding: var(--xpadding);
  width: var(--xsize);
  max-width: var(--xsize);
  min-width: var(--xsize);
  height: var(--xsize);
  max-height: var(--xsize);
  min-height: var(--xsize);
  margin: var(--xmargin);
  
  /* line-height: var(--xsize); */
  color: var(--ion-color-dark);
  font-weight: bold;
  font-size: var(--xfont);/*2em;*/
  text-align: center;
    /* border: 1px solid;
    border-color: var(--ion-color-dark); */

}
.flex-container {
    padding: 0;
    margin: 0;
    /* list-style: none; */
    /* border: 1px solid;
    border-color: var(--ion-color-dark); */
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
.choice {
    border: 1px solid;
    /* height: 100px;
    width: 100px;
    max-width: 100px; */
    height: var(--xsize);
    width: var(--xsize);
    font-size: var(--xfont);
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    flex-wrap: wrap;
}
.boxed {
    border: 1px solid;
    /* height: 100px;
    width: 100px;
    max-width: 100px; */


    /* min-height: var(--xsize);
    min-width: var(--xsize); */
    padding: var(--xpadding);
    width: var(--xsize);
    max-width: var(--xsize);
    min-width: var(--xsize);
    height: var(--xsize);
    max-height: var(--xsize);
    min-height: var(--xsize);
    margin: var(--xmargin);
    
    /* line-height: var(--xsize); */
  
    background-color: var(--ion-color-dark);
    color: var(--ion-color-light);
    
    font-size: var(--xfont);
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */

}
.scoringbox {
    /* border: 1px solid; */
    /* height: 100px;
    width: 100px;
    max-width: 100px; */


    /* min-height: var(--xsize);
    min-width: var(--xsize); */
    padding: var(--xpadding);
    width: var(--xsize);
    max-width: var(--xsize);
    min-width: var(--xsize);
    height: var(--xsize);
    max-height: var(--xsize);
    min-height: var(--xsize);
    margin: var(--xmargin);
    
    /* line-height: var(--xsize); */
  
    background-color: transparent;
    color: var(--ion-color-primary);
    
    font-size: var(--xfont);
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */

}
.reserves {
    font-size: var(--xfont);
}
.centeredDiv {
    display: flex;
    justify-content: center; /* Horizontal center alignment */
}
.selected {
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary-contrast) !important;
}
.grid_size_selector {
    color: var(--ion-color-primary);
    font-weight: bold;
    --placeholder-opacity: 1.0 !important;
}
/* .choiceUnselected {
    background-color: lightgray;
}
.choiceSelected {
    background-color: lightgray;
    border: 3px solid;
} */